@media all and (min-width: 480px) {
    .login {
      padding: 60px 0;
      }
    }
  
    .login form {
      margin: 0 auto;
      max-width: 32px;
      text-align: center;
    }
    .btn-space {
      margin-left: 10px;
  }